{% extends 'turk/base.html' %}


{% block body %}


    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-12 col-md-7">
                <div class="=panel panel-default">
                    <div class="panel-body">

                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if job.lowest_bid > 0 %}
                                <p>Lowest current bid: {{job.lowest_bid}}</p>
                            {% else %}
                                <p>Lowest current bid: None</p>
                            {% endif %}
                            <p>Pick a developer to hire</p>
                            {% for bidder in bid_list %}
                                <p><input type="radio" value= {{bidder.user.id}},{{bidder.price}},{{bidder.id}},{{job.lowest_bid}} name="bidder"> {{bidder.price}} {{bidder.user.profile.name}} {{bidder.id}} </input></p>
                            {% endfor %}
                            {% if bid_list %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}