<!-- profile page -->
{% extends 'turk/base.html' %}

{% block body %}



    <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture.url }}" class="img-responsive">
                    {% else %}
                        <h3>No image to display</h3>
                    {% endif %}

                    {% if user.profile.name %}
                        <h1>{{ user.profile.name}}</h1>
                    {% else %}
                        <h1> {{user.first_name}} </h1>
                    {% endif %}
                    <h3>user id: {{user.id}}</h3>
                    <h3>profile id: {{user.profile.id}}</h3>
                    <h3>email: {{ user.profile.email }}</h3>
                    <h3>gender: {{ user.profile.gender }}</h3>
                    {% if user.profile.rating_count == 0 %}
                        <h3>Rating: NONE</h3>
                    {% else %}
                        <h3>Rating: {{average_rating}}</h3>
                    {% endif %}
                    <h3>money: {{ user.profile.money }}</h3>
                    <h3>position: {{ user.profile.position }} </h3>
                    <h3>interest: {{ user.profile.interest }}</h3>
                    <h3>Resume: <a href = "{{ user.profile.resume.url }}">Resume</a></h3>
                    <h3>Work/Credential: <a href = "{{ user.profile.sample_work_or_bussiness_credential.url }}">Work/Credential</a></h3>
                </div>
            </div>
        </div>

    <ul>
        {% if user.profile.position == "Client" %}
            {% for job in user.job_set.all %}
                <li><a href = "{% url 'turk:job_description' job.user.id job.id %}">{{ job.job_title }}</a>
                bid deadline: {{job.bid_deadline}}
                </li>
            {% endfor %}
        {% endif %}

        {% if user.profile.position == "Developer" %}
        <br>
        <h3>List of Jobs This Developer currently Have</h3>
            {% for bidder in user.bidder_set.all %}
                <p><a href="{% url 'turk:job_description' bidder.job.user.id bidder.job.id %}">{{bidder.job.job_title}}</a></p>
            {% endfor %}
        {% endif %}
    </ul>

    {% if request.user.is_authenticated %}
        {% if request.user.id == user.id %}
            <a href = "{% url 'turk:update_profile' user.id user.profile.id %}">Click here to edit profile</a><br>
            <a href = "{% url 'turk:form_to_superuser' user.id %}">Click here write to superuser</a><br>
        {% endif %}
    {% endif %}

{% endblock %}