<!-- lists of job -->
{% extends 'turk/base.html' %}

{% block body %}
    {% if user.is_authenticated %}
        You are logged in as {{ user.first_name }}
    {% endif %}

    {% if all_jobs %}
        <h3> Here are all jobs </h3>

        {% for job in all_jobs %}
            <p><a href = "{% url 'turk:job_description' job.profile.user.id job.id %}">{{ job.job_title }}</a>
            {{job.profile.user.first_name}} id:{{job.profile.user.id}}
            </p>
        {% endfor %}

        {% else %}
            <h3> No Profile yet </h3>
    {% endif %}
{% endblock %}

