<!-- lists of job -->
{% extends 'turk/base.html' %}

{% block body %}
    {% if all_jobs %}
        {% if request.user.is_authenicated %}
            <h3>Users with similar interest</h3>
            {% for user in similar_users %}
                <p><a href="{% url 'turk:detail' user.user.id %}">{{user}}</a></p>
            {% endfor %}
        {% endif %}

        <h3> Here are all jobs </h3>

        {% for job in all_jobs %}
            <p><a href = "{% url 'turk:job_description' job.user.id job.id %}">{{ job.job_title }}</a>
            {{job.user.first_name}} id:{{job.user.id}} &nbsp &nbsp bid deadline: {{job.bid_deadline}}
            </p>
        {% endfor %}

        {% else %}
            <h3> No jobs yet </h3>
    {% endif %}
{% endblock %}

