<!-- job description -->
{% extends 'turk/base.html' %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="=panel panel-default">
                <div class = "panel-heading" style = "background-color:rgba(54, 54, 54, 0.5)">
                    <h1>Job Description</h1>
                </div>

                <div class="panel-body" style = "background-color:rgb(255, 251, 251)">
                    <p><b>Posted by: </b><a href = "{% url 'turk:detail' job.user.id %}">{{ job.user.profile.name }}</a>
                                                                        id:{{job.user.id}}
                    </p>
                    <p><b>Job Title: </b> {{ job.job_title }}</p>
                    <p><b>Job Description: </b></p>
                    <div class = "panel-panel-class">
                        <div class = "panel-heading" style = "word-break:break-all">
                            {{ job.job_description}}
                        </div> 
                    </div>


                    {% if job.is_open %}
                        <p><b>Bidding Deadline: </b>{{ job.bid_deadline }}</p>
                    {% else %}
                    <p><b>Job Deadline: </b>{{ job.job_deadline }}</p>
                    <p><b>Price Chosen: </b>{{ job.job_price }}</p>
                    {% endif %}

                    {% if job.lowest_bid > 0 %}
                        <p><b>Lowest Bid: </b> {{ job.lowest_bid }}</p>
                    {% else %}
                        <p><b>Lowest Bid: </b> None</p>
                    {% endif %}

                    {% if request.user.id == job.user.id %}
                        {% if job.bidder_set.all %}
                            <p>List of current bidders:</p>
                                
                            {% for bidder in job.bidder_set.all %}
                                <p><a href="{% url 'turk:detail' bidder.user.id %}">{{bidder.user.profile.name}}: </a>{{bidder.price}}</p>
                            {% endfor %}
                            
                            {% else %}
                                <p>List of current bidders: NONE</p>
                        {% endif %}<br>
                    {% endif %}

                        {% if job.developerchosenforjob %}
                            <p><b>Developer chosen: </b>{{ job.developerchosenforjob.user.profile.name }}</p>
                        {% endif %}

                        <p><b>Profile position: </b>{{user.profile.position}}</p>
                        <p><b>My position: </b> {{ request.user.profile.position }}</p>

                        {% if request.user.id == job.user.id %}
                            <a href = "{% url 'turk:delete_job' user.id job.id %}">Delete</a><br>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                            {% if request.user.profile.position == "Developer" and job.is_open == True %}
                                <a href = "{% url 'turk:bid' request.user.id job.id %}">Click Here to Bid</a>
                            {% endif %}

                            <!--Dev stuff-->
                            {% if request.user.id == job.developerchosenforjob.user.id %}
                                {% if job.is_complete == False %}
                                    <a href = "{% url 'turk:submit_job' user.id job.id %}">Submit Job</a>
                                {% endif %}
                            {% endif %}

                            <!-- Client Stuff -->
                            {% if request.user.id == job.user.id %}
                                {% if job.is_open == True %}
                                    <a href = "{% url 'turk:bidder_list' user.id job.id %}">Click Here to View Bids</a>
                                {% endif %}
                                {% if job.developerchosenforjob %}
                                    {% if job.is_complete == True %}
                                        <p><b>Submission Link: </b>{{ job_sub }}</p>
                                        {% if job.is_rated == False %}
                                            <a href = "{% url 'turk:rate_job' user.id job.id %}">Click Here to Rate Jobs</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}