<!-- job description -->
{% extends 'turk/base.html' %}


{% block body %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-12 col-md-7">
                <div class="=panel panel-default">
                    <div class="panel-body">
                        <h1>Job Desciption</h1>


                        <p><a href = "{% url 'turk:detail' job.user.id %}">{{ job.user.profile.name }}</a>
                        id:{{job.user.id}}
                        </p>
                        <p>{{ job.job_title }}</p>
                        <p>{{ job.job_description}}</p><br>

                        {% if job.lowest_bid > 0 %}
                        <p>Lowest Bid: {{ job.lowest_bid }}</p>
                        {% else %}
                        <p>Lowest Bid: None</p>
                        {% endif %}

                        {% if request.user.id == job.user.id %}
                            {% if job.bidder_set.all %}
                                <p>List of current bidders:</p>
                                {% for bidder in job.bidder_set.all %}
                                <p>{{bidder.user.username}}: {{bidder.price}}</p>
                                {% endfor %}
                            {% else %}
                                <p>List of current bidders: NONE</p>
                            {% endif %}<br>
                        {% endif %}

                        <p>Profile position: {{user.profile.position}}</p>
                        <p>My position: {{ request.user.profile.position }}</p>

                        {% if request.user.id == user.id %}
                            <a href = "{% url 'turk:delete_job' user.id job.id %}">Delete</a><br>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                            {% if request.user.profile.position == "Developer" and job.is_open == True %}
                                <a href = "{% url 'turk:bid' request.user.id job.id %}">Click Here to Bid</a>
                            {% endif %}

                            <!--Dev stuff-->
                            {% if request.user.id == job.developerchosenforjob.user.id %}
                                {% if job.is_complete == False %}
                                    <a href = "{% url 'turk:submit_job' user.id job.id %}">Submit Job</a>
                                {% endif %}
                            {% endif %}

                            <!-- Client Stuff -->
                            {% if request.user.id == job.user.id %}
                                {% if job.is_open == True %}
                                    <a href = "{% url 'turk:bidder_list' user.id job.id %}">Click Here to View Bids</a>
                                {% endif %}
                                {% if job.is_complete == True %}
                                    {% if job.is_rated == False %}
                                        <a href = "{% url 'turk:rate_job' user.id job.id %}">Click Here to Rate Jobs</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}