<!-- job description -->
{% extends 'turk/base.html' %}


{% block body %}

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-12 col-md-7">
                <div class="=panel panel-default">
                    <div class="panel-body">
                        <h1>Job Desciption</h1>


                        <p><a href = "{% url 'turk:detail' job.user.id %}">{{ job.user.username }}</a>
                        id:{{job.user.id}}
                        </p>
                        <p>{{ job.job_title }}</p>
                        <p>{{ job.job_description}}</p><br>

                        {% if job.lowest_bid > 0 %}
                        <p>Lowest Bid: {{ job.lowest_bid }}</p>
                        {% else %}
                        <p>Lowest Bid: None</p>
                        {% endif %}

                        {% if job.bidder_set.all %}
                            <p>List of current bidders:</p>
                            {% for bidder in job.bidder_set.all %}
                            <p>{{bidder.user.username}}: {{bidder.price}}</p>
                            {% endfor %}
                        {% else %}
                            <p>List of current bidders: NONE</p>
                        {% endif %}<br>

                        <p>Profile position: {{user.profile.position}}</p>
                        <p>My position: {{ request.user.profile.position }}</p>

                        {% if request.user.id == user.id %}
                            <a href = "{% url 'turk:delete_job' user.id job.id %}">Delete</a>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                            {% if request.user.profile.position == "Developer" %}
                                <a href = "{% url 'turk:bid' request.user.id job.id %}">Click Here to Bid</a>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}