{% extends 'turk/base.html' %}

{% block body %}

<h1>Message Board</h1>
<p>Your Total Number of Warnings: Needs to be implemented</p>

<h3>Your Warnings</h3>
{% for msg in user.message_set.all %}
    <p><a href="{% url 'turk:message_detail' user.id msg.id %}">{{msg.title}}</a></p>
{% endfor %}

<h3>Your Complete Jobs</h3>

{% if request.user.profile.position == "Client" %}
    {% for job in jobs %}
        <p><a href="{% url 'turk:job_description' job.user.id job.id %}">{{job.job_title}}</a></p>
    {% endfor %}
{% endif %}

{% if request.user.profile.position == "Developer" %}
    {% for job in jobs %}
        <p><a href="{% url 'turk:job_description' job.job.user.id job.job.id %}">{{job.job.job_title}}</a></p>
    {% endfor %}
{% endif %}

{% endblock %}
